@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap');

:root{
    --cor0: #CAC6C6;
    --cor1: #949090;
    --cor2: #625E5E;
    --cor3: #343030;
    --cor4: #060000;

    --fonte-padrao: 'Bitter', serif;
    --fonte-titulo: 'Miltonian Tattoo', cursive;
    --fonte-principal: 'Dancing Script', cursive;
    --fonte-secundaria: 'Architects Daughter', cursive;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
    color: var(--cor0);
}

header{
    background-color: var(--cor4);
    box-shadow: 0 3px 10px var(--cor2);
}

.nav-bar {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 2fr);
    padding: 1.5rem 6rem;
}

.logo-artink{
    display: flex;
    align-items: center;
}

img{
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
}

.titulo{
    display: grid;
    align-items: center;
}

.titulo > h1{
    display: block;
    align-items: center;
    font-family: var(--fonte-principal);
    font-size: 4.5rem;
    font-weight: 400;
    text-shadow: 0 3px 10px var(--cor2);
    text-align: right;
}

.titulo > h2{
    display: block;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: right;
}

